.nav-red a {
  color: #ff3821;
}
.nav-red a:hover {
  color: #ff3821;
  border: solid #ff3821 2px;
  margin: 0 5px;
}
.nav-red .nav-selected {
  border: solid #ff3821 2px;
  margin: 0 5px;
}
.nav-orange a {
  color: #e57e22;
}
.nav-orange a:hover {
  color: #e57e22;
  border: solid #e57e22 2px;
  margin: 0 5px;
}
.nav-orange .nav-selected {
  border: solid #e57e22 2px;
  margin: 0 5px;
}
.nav-yellow a {
  color: #efc30f;
}
.nav-yellow a:hover {
  color: #efc30f;
  border: solid #efc30f 2px;
  margin: 0 5px;
}
.nav-yellow .nav-selected {
  border: solid #efc30f 2px;
  margin: 0 5px;
}
.nav-green a {
  color: #15ad5a;
}
.nav-green a:hover {
  color: #15ad5a;
  border: solid #15ad5a 2px;
  margin: 0 5px;
}
.nav-green .nav-selected {
  border: solid #15ad5a 2px;
  margin: 0 5px;
}
.nav-blue a {
  color: #10a3c5;
}
.nav-blue a:hover {
  color: #10a3c5;
  border: solid #10a3c5 2px;
  margin: 0 5px;
}
.nav-blue .nav-selected {
  border: solid #10a3c5 2px;
  margin: 0 5px;
}
.nav-indigo a {
  color: #0054a5;
}
.nav-indigo a:hover {
  color: #0054a5;
  border: solid #0054a5 2px;
  margin: 0 5px;
}
.nav-indigo .nav-selected {
  border: solid #0054a5 2px;
  margin: 0 5px;
}
.nav-purple a {
  color: #9b59b5;
}
.nav-purple a:hover {
  color: #9b59b5;
  border: solid #9b59b5 2px;
  margin: 0 5px;
}
.nav-purple .nav-selected {
  border: solid #9b59b5 2px;
  margin: 0 5px;
}
.sub-red a {
  color: #ff3821;
}
.sub-red a:hover {
  color: white;
  background-color: #ff3821;
  border: none;
  margin: 0 5px;
}
.sub-orange a {
  color: #e57e22;
}
.sub-orange a:hover {
  color: white;
  background-color: #e57e22;
  border: none;
  margin: 0 5px;
}
.sub-yellow a {
  color: #efc30f;
}
.sub-yellow a:hover {
  color: white;
  background-color: #efc30f;
  border: none;
  margin: 0 5px;
}
.sub-green a {
  color: #15ad5a;
}
.sub-green a:hover {
  color: white;
  background-color: #15ad5a;
  border: none;
  margin: 0 5px;
}
.sub-blue a {
  color: #10a3c5;
}
.sub-blue a:hover {
  color: white;
  background-color: #10a3c5;
  border: none;
  margin: 0 5px;
}
.sub-indigo a {
  color: #0054a5;
}
.sub-indigo a:hover,
.sub-indigo a:focus {
  color: white;
  background-color: #0054a5;
  border: none;
  margin: 0 5px;
}
.sub-purple a {
  color: #9b59b5;
}
.sub-purple a:hover {
  color: white;
  background-color: #9b59b5;
  border: none;
  margin: 0 5px;
}
