.ccm-responsive-overlay  {
    display: none;
}
div.ccm-page header nav ul a {
  padding: 5px 10px;
  margin: 0 7px;
}
.two-spaces {
  margin-left: 10px;
}
ul.main-sub-menu {
  margin-left: 0px;
  top: 15px !important;
}

div.ccm-page header nav ul li .main-sub-menu {
  padding: 5px 10px;
  margin: 0 5px;
}