.ccm-responsive-overlay  {
    display: none;
}
div.ccm-page header nav ul a {
  padding-right: 30px;
}
.two-spaces {
  margin-left: 10px;
}
ul.main-sub-menu {
  margin-left: 0px;
  top: 15px !important;
}