/*! http://responsiveslides.com v1.54 by @viljamis */

.ccm-image-slider {
    position: relative;
    background-color: white;
}

.ccm-image-slider-text {
    position: absolute;
    width: 45%;
    left: 0;
    top: 10%;
}

.ccm-image-slider-title {
    margin-top:auto;
}

.ccm-image-slider-container {
    background-color: white;
}

.ccm-image-slider-container a.mega-link-overlay {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    left: 0px;
}
.ccm-thumb-slider-container {
    max-width: 100%;
    overflow: hidden;
}
.rslides img {
    object-fit: cover;
    height: 300px;
}

.rslides_here .thumbnail{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 3px 3px 3px;
    border: 1px solid rgba(81, 203, 238, 1);
    height: 60px;
    width: 60px;
}
.rslide-tabs li a {
    overflow: hidden;
    background: blue;
    display: inline-block;
    margin-right: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.thumbnail {
    width: 62px;
    height: 62px;
}
#gallery-slider {
    text-align: center;
}

@media (min-width: 1200px) {
  .ccm-image-slider-container {

    border-right: 2px solid black;
    border-style: none dashed none none;
  }
  .rslides img {
    object-fit: contain;
    width: 750px;
  }
  .ccm-image-slider {
    width: 750px !important;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 481px) {

}
@media (max-width: 480px) {
  .ccm-image-slider-container {
    padding-top: 0;
  }
  .rslides img {
    object-fit: cover;
    height: 200px;
  }

}