.nav-red a {
  color: #ff3821;
}
.nav-red a:hover {
  color: #ff3821;
  border: solid #ff3821 2px;
  margin: 0 5px;
}
.nav-red .nav-selected {
  border: solid #ff3821 2px;
  margin: 0 5px;
}
.nav-orange a {
  color: #e57e22;
}
.nav-orange a:hover {
  color: #e57e22;
  border: solid #e57e22 2px;
  margin: 0 5px;
}
.nav-orange .nav-selected {
  border: solid #e57e22 2px;
  margin: 0 5px;
}
.nav-yellow a {
  color: #efc30f;
}
.nav-yellow a:hover {
  color: #efc30f;
  border: solid #efc30f 2px;
  margin: 0 5px;
}
.nav-yellow .nav-selected {
  border: solid #efc30f 2px;
  margin: 0 5px;
}
.nav-green a {
  color: #15ad5a;
}
.nav-green a:hover {
  color: #15ad5a;
  border: solid #15ad5a 2px;
  margin: 0 5px;
}
.nav-green .nav-selected {
  border: solid #15ad5a 2px;
  margin: 0 5px;
}
.nav-blue a {
  color: #10a3c5;
}
.nav-blue a:hover {
  color: #10a3c5;
  border: solid #10a3c5 2px;
  margin: 0 5px;
}
.nav-blue .nav-selected {
  border: solid #10a3c5 2px;
  margin: 0 5px;
}
.nav-indigo a {
  color: #0054a5;
}
.nav-indigo a:hover {
  color: #0054a5;
  border: solid #0054a5 2px;
  margin: 0 5px;
}
.nav-indigo .nav-selected {
  border: solid #0054a5 2px;
  margin: 0 5px;
}
.nav-purple a {
  color: #9b59b5;
}
.nav-purple a:hover {
  color: #9b59b5;
  border: solid #9b59b5 2px;
  margin: 0 5px;
}
.nav-purple .nav-selected {
  border: solid #9b59b5 2px;
  margin: 0 5px;
}
.sub-red a {
  color: #ff3821;
}
.sub-red a:hover {
  color: white;
  background-color: #ff3821;
  border: none;
  margin: 0 5px;
}
.sub-orange a {
  color: #e57e22;
}
.sub-orange a:hover {
  color: white;
  background-color: #e57e22;
  border: none;
  margin: 0 5px;
}
.sub-yellow a {
  color: #efc30f;
}
.sub-yellow a:hover {
  color: white;
  background-color: #efc30f;
  border: none;
  margin: 0 5px;
}
.sub-green a {
  color: #15ad5a;
}
.sub-green a:hover {
  color: white;
  background-color: #15ad5a;
  border: none;
  margin: 0 5px;
}
.sub-blue a {
  color: #10a3c5;
}
.sub-blue a:hover {
  color: white;
  background-color: #10a3c5;
  border: none;
  margin: 0 5px;
}
.sub-indigo a {
  color: #0054a5;
}
.sub-indigo a:hover,
.sub-indigo a:focus {
  color: white;
  background-color: #0054a5;
  border: none;
  margin: 0 5px;
}
.sub-purple a {
  color: #9b59b5;
}
.sub-purple a:hover {
  color: white;
  background-color: #9b59b5;
  border: none;
  margin: 0 5px;
}
/* System Wide */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.white-background {
  background-color: #ffffff;
}
.beige-background {
  background-color: #f8f5ef;
}
.reset-margin {
  margin-bottom: 0px !important;
}
/* Custom Tags */
.uppercase {
  text-transform: uppercase !important;
}
.capitalize {
  text-transform: capitalize !important;
}
.section-title {
  font-size: 2em;
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-family: Titillium Web;
  line-height: 1.42857143;
  font-weight: 700;
  padding: 30px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -15px;
}
.img-center img {
  margin-left: auto;
  margin-right: auto;
}
.book-button {
  height: 40px;
  width: 120px;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  text-transform: uppercase !important;
}
.book-button:hover {
  background-color: #B4B4B4;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.tour-detail-link {
  background-color: black;
  width: 150px;
  padding: 2px 20px;
  text-align: center;
  color: white !important;
  font-weight: 400;
  text-transform: uppercase;
  font: normal normal normal 1.1em raleway, sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.tour-detail-link:hover {
  background-color: #B4B4B4;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.tour-detail-title {
  padding-top: 10px;
  padding-bottom: 5px;
  font: normal normal bold 1.4em raleway, sans-serif;
  text-transform: uppercase;
}
.tour-detail-pic {
  height: 250px;
  width: 400px;
  overflow: cover;
}
.tour-detail-pic img {
  object-fit: cover;
  height: 250px;
}
/* General Styles */
.info-group {
  display: block;
}
/* Tab Styles */
.tab-pane {
  padding: 25px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}
div.ccm-page header {
  background-color: transparent !important;
}
h1,
h2,
h3,
h4 {
  font-family: raleway,sans-serif;
}
.home-container {
  background-color: white;
}
.home-container:after {
  clear: both;
  content: "";
  display: block;
}
.container {
  padding: 0;
  margin: 0;
}
.full-width {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
header {
  display: none;
}
.ccm-responsive-navigation {
  background: #FFFFFF;
}
hr {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
main {
  padding-bottom: 0px !important;
}
.pd-title {
  display: inline;
  font-weight: bold;
  font-size: 1.2em;
}
.pd-attr {
  font-size: 1em;
}
.description-box {
  margin-top: -40px;
}
.circle-description {
  width: 250px;
  padding: 5px 15px 15px 15px;
  background-color: white;
}
.main-banner-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.rounded-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border-width: 5px;
  border-style: solid;
  border-color: white;
}
.rounded-image img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.rounded-image-large {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.rounded-image-large img {
  margin: 0 auto;
  height: 300px;
  width: auto;
  object-fit: none;
  object-position: center;
}
/* Dimension Specific */
/* Large desktops and laptops */
@media (min-width: 1200px) {
  .page-padding {
    margin: 0 55px;
  }
  .row {
    margin-left: 0px !important;
  }
  .placard {
    padding: 0px 10px 0px 0px;
    margin: 0px 10px 40px 10px !important;
  }
  .navbar-logo {
    margin-left: 40px;
  }
  .tab-container {
    margin: 10px 10px 40px 10px;
  }
  .tour-info {
    padding: 20px 10px;
  }
  .bold-title {
    font-size: 2em;
    font-weight: bold;
  }
  .info-title {
    font-size: 1.2em;
  }
  .info-group {
    padding: 5px 0px;
  }
  .info-result {
    font-weight: bold;
  }
  .book-button {
    margin-top: 9px;
  }
}
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Portrait phones and smaller */
@media (max-width: 480px) {
  body {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  h1 {
    font-size: 2.3em !important;
  }
  .button-container {
    padding-top: 20px;
  }
  .header-navbar {
    width: 100%;
    height: 50px;
    line-height: 2;
  }
  .ccm-responsive-menu-launch i:after {
    font-size: 1.8em !important;
  }
  .book-button {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
  }
  .ccm-responsive-overlay {
    top: 200px !important;
  }
  .desc-tours .ccm-layout-column {
    width: 100% !important;
    padding-top: 10px;
  }
  .ccm-block-social-links {
    margin-left: auto;
    margin-right: auto;
  }
}
