.img-banner {
  width: 100%;
}
.caption-box {
  position: absolute;
  width: 100%;
  min-height: 150px;
  background-color: black;
  opacity: 0.8;
  font-size: 1.2em;
  bottom: 0;
  color: white;
  padding: 10px 25px;
}
.image-box {
  position: relative;
}
.img-banner-header {
  color: white;
  font: normal normal bold 2em raleway,sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.img-banner-body {
  font: normal normal 1.2em 'courier new',courier-ps-w01,courier-ps-w02,courier-ps-w10,monospace;
}
@media (max-width: 480px) {
  .caption-box {
    position: relative;
  }
  .img-banner-header {
    font-size: 1.5em;
  }
  .img-banner-body {
    font-size: 0.8em;
  }
}