.img-banner {
  width: 100%;
}
.caption-box {
  position: absolute;
  width: 100%;
  min-height: 150px;
  background-color:rgba( 0, 0, 0, 0.8);
  font-size: 1.2em;
  bottom: 0;
  color: white;
  padding: 10px 25px;
}
.image-box {
  position: relative;
}
.img-banner-header {
  color: white;
  font: normal normal bold 2em raleway,sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 5px;
}
.img-banner-body {
  font: normal normal 1.1em 'Abel', sans-serif;
  padding: 5px 0;
}
.detail-button-container {
  margin-top: 50px;
}
.banner-detail-button {
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.5em;
  color: white !important;
  height: 100%;
  opacity: 1;
}
.banner-detail-button:hover {
    background-color: #1E824C;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -ms-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
@media (max-width: 480px) {
  .caption-box {
    position: relative;
    min-height: 335px;
  }
  .img-banner-header {
    font-size: 1.5em;
  }
  .img-banner-body {
    font-size: 0.8em;
  }
  .banner-detail-button {
    font-size: 0.8em;
  }
  .detail-button-container {
    margin-top: 5px;
  }
}
@media (max-width: 480px) {
  .caption-box {
    position: relative;
    min-height: 370px;
  }
}