.img-banner {
  width: 100%;
}
.caption-box {
  width: 100%;
  background-color:rgba( 0, 0, 0, 0.8);
  font-size: 1.2em;
  bottom: 0;
  color: white;
  padding: 10px 25px;
  overflow: hidden;
}
.image-box {
  position: relative;
}
.img-banner-header {
  color: white;
  font: normal normal bold 2em raleway,sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 5px;
}
.img-banner-body {
  font: normal normal 1.1em 'Abel', sans-serif;
  padding: 5px 0;
}
.banner-detail-button {
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.5em;
  color: white !important;
  opacity: 1;
}
.banner-detail-button:hover {
    background-color: #2574A9;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -ms-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
@media (min-width: 1200px) {
  .caption-box {
    position: absolute;
    min-height: 185px;
  }
  .detail-button-container {
    top: 55%;
    position: absolute;
    right: 0;
  }
  .banner-detail-button {
    top: 50%;
    height: 50px;
    display: table-cell;
  }
  .caption-content-container {
    display:table-row;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
  .caption-box {
    position: relative;
  }
}
@media (max-width: 480px) {
  .caption-box {
    min-height: 240px;
  }
  .img-banner-header {
    font-size: 1.5em;
  }
  .img-banner-body {
    font-size: 0.8em;
  }
  .banner-detail-button {
    font-size: 0.8em;
  }
  .detail-button-container {
    margin-bottom: 10px;
  }
}
// @media (max-width: 480px) {
//   .caption-box {
//     position: relative;
//     min-height: 370px;
//   }
// }